  .character-page--detail-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    
    > div {
      padding: 1rem;
      width: 8rem;
      border: 0.05rem solid white;
      background-color: rgba(26, 118, 210, .25);
    }
  }
