
.character-page {
  h1 {
    color: rgb(26, 118, 210);
  }
  text-align: center;
  &--detail-item,
  &--details-section{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &--detail-item {
    justify-content: center;
    
    > div {
      padding: 1rem;
      width: 8rem;
      border: 0.05rem solid white;
      background-color: rgba(26, 118, 210, .25);
    }
  }
}